*.class
*.log
*.jar
*.war
*.ear
*.properties
*.xml
*.mf
*.mfv
*.env
bin/
dist/
target/
out/
build/

nbproject/private/
build/
nbbuild/
dist/
nbdist/
.nb-gradle/
**/nbproject/private/
**/nbproject/nightly/
**/nbproject/logging.properties
!pom.xml
!build.xml
!src/**/*.xml
!src/**/*.properties
!src/**/META-INF/MANIFEST.MF
.swing-preview/

.vscode/
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.code-workspace

.project
.classpath
.factorypath
.settings/
.dependency-bindings/

Thumbs.db
.DS_Store
/sistema-banco-java-completo/nbproject/private/
/sistema-banco-java-completo/build/
